# Required
FRED_API_KEY=xxx
NEWS_API_KEY=xxx

# Optional
FINNHUB_API_KEY=xxx # optional Finnhub
ZERODHA_API_KEY=xxx # optional Zerodha
ZERODHA_SECRET=xxx # optional Zerodha
TELEGRAM_BOT_TOKEN=xxx # optional Telegram
TELEGRAM_CHAT_ID=xxx # optional Telegram
