polars
pandas
numpy
streamlit
plotly
requests
xgboost
lightgbm
scikit-learn
python-telegram-bot
yfinance
sqlalchemy
aiohttp
pyarrow
pytrends
transformers
torch
vaderSentiment
nsepython
datadog-api-client
matplotlib
scipy
finnhub-python
fredapi
python-dotenv